# from MacOSX
.DS_Store

# GDB
.gdb_history

# Binary files
memtest
a.out

# object files
*.o
*.lo
*.slo
*.obj
*.pyc

# precompiled headers
*.gch
*.pch

# dynamic libraries
*.so
*.dylib
*.dll

# static libraries
*.a
*.la
*.lai
*.lib

# executables
*.app
*.exe
*.out

# cmake
build

# IntelliJ
.idea/
cmake-build-*/
